.input_field_title:focus{
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
    outline: none;
   } 
   .input_field_title{
    width: 20rem;
   margin: 10px;
    box-shadow: inset 0px -3px 0px 0px rgba(114, 113, 113, 0.2);
    transition: box-shadow 0.2s ease-in;
    background-color: azure;
    border-radius: .3rem;
    padding: .2rem;
    border:none;
   }
   .title_add{
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px;
    border-radius: 70px;
    padding: 3px;
    background-color: #22014f;
      color: white;
   }
   .title_add:hover{
    background-color: azure;
    color: rgb(93, 94, 95);
   }
   .title_add:active{
    transform: scale(0.95);
   }